.header {
  position: absolute;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-size-container);
  background: transparent;
  margin: 0 auto;
  right: 0;
  left: 0;
}

.header svg {
  width: 20px;
  height: 20px;
}

.header button {
  background: transparent;
  border: none;
  height: 4rem;
  padding: 0 1rem;
  gap: 0.5rem;
  background: transparent;
  font-size: var(--font-size);
  font-weight: 400;
  display: flex;
  align-items: center;
  color: var(--color-black);
}
.header button:hover,
.header button:focus,
.header a:hover,
.header a:focus {
  opacity: 1;
}

.header button figure {
  display: flex;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.header button:hover figure,
.header button:focus figure {
  background: var(--color-black-translucent);
}

.openMenu button {
  z-index: 4;
}
.openMenu figure {
  background: var(--color-bg-white) !important;
  box-shadow: var(--box-shadow);
}
.openMenu figure svg {
  fill: var(--color-text-black);
}

.buttonsContainer {
  display: flex;
}
.buttonsContainer button:last-child:before {
  content: '';
  position: relative;
  height: 2rem;
  width: 1px;
  margin-right: 1rem;
  background: #000;
  opacity: var(--opacity);
}

.buttonSettings {
  font-size: 0 !important;
  gap: 0 !important;
}

.logoContainer {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 3.5rem;
  padding: 2rem;
  height: var(--size-big);
  color: var(--color-black);
}
.logo svg {
  width: 18px;
  height: 18px;
}

.containerSettings {
  padding: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.containerSettings h3 {
  font-size: var(--font-size);
  font-weight: 400;
  margin: 0 0 1rem 0;
}
.containerSettings div div {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.containerSettings button,
.containerSettings a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--size-small);
  font-size: var(--font-size);
  font-weight: 400;
  background: var(--color-black-translucent);
  color: var(--color-text-black);
  border-radius: var(--radius);
  padding: 0;
  gap: 0;
}
.containerSettings button svg,
.containerSettings a svg {
  margin: 0 1rem;
}
.containerSettings select {
  width: 100%;
}

.layer {
  position: fixed;
  /* background: rgb(0 0 0 / 50%); */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  backface-visibility: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s cubic-bezier(0, 0, 0.3, 1);
}
.layerActive {
  visibility: visible;
  opacity: 1;
  animation: fade 0.25s ease;
}
.removeScroll {
  overflow: hidden;
}

@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.nav {
  position: absolute;
  height: auto;
  width: 100%;
  max-width: 22rem;
  background: var(--color-bg-white);
  right: 1rem;
  top: 4rem;
  transition: all var(--navDrawerDurationEnterMS) var(--easingDecelerate);
  transform: translateX(50%);
  visibility: hidden;
  opacity: 0;
  z-index: 3;
  overflow: auto;
  margin: 0 auto;
  border-radius: 2rem;
  box-shadow: var(--box-shadow);
  user-select: none;
}
.openNav {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.nav p {
  font-size: var(--font-size-small);
  font-weight: 400;
}

@media screen and (max-width: 576px) {
  .logo {
    height: 3rem;
    padding: 0 0.75rem;
  }

  .nav {
    top: 3rem;
    right: 0.5rem;
  }

  .header {
    padding: 0 0.5rem;
  }

  .header .buttonsContainer button {
    font-size: 0;
    gap: 0;
    height: 3rem;
    padding: 0 0.5rem;
  }

  /* .buttonsContainer button:nth-child(2) {
    display: none;
  } */
}
