.container {
  text-align: center;
  padding: 4rem 2rem 2rem;
  max-width: 940px;
}
.container figure {
  font-size: 0;
  margin-bottom: 1.5rem;
}
.container figure svg {
  width: 20px;
  fill: var(--color-black-translucent-50);
}

.container ul {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.5rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--color-text-black);
}
.container ul li {
  font-size: 0;
}
.container ul li:last-child {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.container ul li a,
.container p {
  font-size: var(--font-size);
  color: var(--color-black-translucent-50);
}

.container ul li a:has(svg) {
  font-size: 0;
}

.container ul li a svg {
  width: 1rem;
  height: 1rem;
  fill: var(--color-black-translucent-50);
  transition: var(--transition);
}
.container ul li a:hover svg,
.container ul li a:focus svg {
  fill: var(--color-text-black);
}

.container p a,
.container a {
  color: var(--color-black-translucent-50);
  transition: var(--transition);
}

.container a:hover,
.container a:focus {
  color: var(--color-text-black);
}

@media screen and (max-width: 600px) {
  .container {
    padding: 2rem;
  }
  .container ul {
    gap: 1rem;
  }
  .container p,
  .container ul li a {
    font-size: var(--font-size-small);
  }
}
