.container {
  text-align: center;
  padding: 5rem 2rem 3rem;
}
.container figure {
  font-size: 0;
  margin-bottom: 2rem;
}
.container figure svg {
  width: 24px;
  color: var(--color-text-black);
}

.container ul {
  display: flex;
  gap: 1.75rem;
  margin-top: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--color-text-black);
}
.container ul li:last-child {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.container p {
  color: var(--color-text-black);
}

.socialIcons {
  display: flex;
  gap: 1rem;
}
.socialIcons a {
  font-size: 0;
}
.socialIcons svg {
  width: 1rem;
  height: 1rem;
  stroke-width: 2.6;
}
