.header {
  position: absolute;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  width: calc(100% - 2rem);
  margin: 0 auto;
  max-width: 1200px;
  border-radius: var(--radius-full);
  font-size: var(--font-size);
  background-color: var(--color-bg-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem 0 2rem;
}

.logo {
  display: flex;
  height: 4.5rem;
  gap: 0.6rem;
  align-items: center;
}

.header svg {
  width: 1.125rem;
  height: 1.125rem;
}

.header button {
  border: none;
  height: 4rem;
  padding: 0;
  gap: 0.5rem;
  background: transparent;
  font-size: var(--font-size);
  font-weight: 400;
  display: flex;
  align-items: center;
  color: var(--color-text-black);
}
.header button figure {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  align-items: center;
}
.header button:hover figure,
.header button:focus figure {
  background: var(--background-surface);
}

.header nav {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.header ul li a {
  font-size: var(--font-size-small);
}
.header ul li:last-child a {
  color: var(--color-bg-white);
  background: var(--color-text-black);
  border-radius: var(--radius-full);
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.5rem 1rem;
  width: auto;
}

.menuMobile {
  width: 200px;
  gap: 0 !important;
  flex-direction: column;
}
.menuMobile li {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.menuMobile li a {
  width: 100%;
  text-align: right;
  padding: 0.5rem 1rem;
}

.container {
  margin: 0 auto;
  display: inline-block;
  padding: 6rem 2rem;
  width: 100%;
  max-width: var(--max-size-container);
}
.actionContainer {
  max-width: var(--max-size-container-2);
  margin: 0 auto;
  color: var(--color-text-black);
}
.actionContainer h2 {
  font-size: 2.5rem;
}
.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  background: var(--color-bg-white);
}
.page main section:first-of-type {
  padding-top: 3rem;
  background: var(--background-linear-gradient);
  transition: var(--transition-hover);
}
.page section h2 {
  margin-bottom: 2rem;
  color: var(--color-text-black);
}
.page section h3 {
  margin-bottom: 1.5rem;
}
.page section article li,
.page section p {
  font-size: var(--font-size);
}
.page section p {
  margin-bottom: 2rem;
}
.page section h1 + p {
  margin-top: 2.5rem;
}
.page section h1 ~ p {
  margin-bottom: 1.5rem;
}

.colorfulBackground {
  background: var(--background-linear-gradient) !important;
}

/* App Icon */
.icon {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  margin: 2rem auto;
  background-size: 4.5rem;
  background-image: url('/findto-sparkle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-white);
  border-radius: 33.333%;
  transition: var(--transition);
}
.icon:hover {
  transform: translateY(-0.25rem);
}

/* Card Duos */
.cardDuos {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  max-width: var(--max-size-container-2);
}
.cardDuos div {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5rem;
  align-items: center;
}
.cardDuos h2 {
  margin-top: 0;
}
.cardDuos figure {
  max-width: 200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.showOnMobile {
  display: inline-flex;
}
.hideOnMobile {
  display: none;
}

@media screen and (min-width: 768px) {
  .showOnMobile {
    display: none !important;
  }
  .hideOnMobile {
    display: inline-flex;
  }

  .header ul {
    gap: 2rem;
  }
  .header ul li a {
    font-size: var(--font-size);
  }

  .container {
    padding: 6rem 2rem;
  }

  .cardDuos div {
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
  }
  .cardDuos div:nth-child(2) article {
    grid-row: 1;
    grid-column: 1;
  }
  .cardDuos div:nth-child(2) figure {
    grid-column: 2;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    padding: 0 3rem;
  }

  .page section article li,
  .page section p {
    font-size: var(--font-size-big);
  }

  .actionContainer h2 {
    font-size: var(--font-size-1);
  }

  .cardDuos {
    margin: 2rem auto;
  }
  .cardDuos figure {
    max-width: 350px;
  }
}
