.header {
  position: fixed;
  top: 1rem;
  left: 1rem;
  right: 1rem;
  width: auto;
  margin: 0 auto;
  max-width: var(--max-size-container-2);
  /* border-radius: var(--radius-full); */
  font-size: var(--font-size);
  /* background-color: var(--color-bg-white); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  -webkit-backdrop-filter: blur(15.75px);
  backdrop-filter: blur(15.75px);
  background: rgba(32, 32, 32, 0.102);
  border-radius: 50px;
  z-index: 9999;
}
.header:before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 1px;
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.282)
  );
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.logo {
  display: flex;
  height: 4.5rem;
  gap: 0.6rem;
  align-items: center;
}

.header svg {
  width: 1.25rem;
  height: 1.25rem;
}

.header button {
  border: none;
  height: 4rem;
  padding: 0;
  gap: 0.5rem;
  background: transparent;
  font-size: var(--font-size);
  font-weight: 400;
  display: flex;
  align-items: center;
  color: var(--color-text-black);
}
.header button figure {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  align-items: center;
}
.header button:hover figure,
.header button:focus figure {
  background: var(--background-surface);
}

.header nav {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.header ul li a {
  font-size: var(--font-size-small);
}
.header ul li:last-child a {
  color: var(--color-bg-white);
  background: var(--color-text-black);
  border-radius: var(--radius-full);
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.5rem 1rem;
  width: auto;
}

.menuMobile {
  width: 200px;
  gap: 0 !important;
  flex-direction: column;
}
.menuMobile li {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.menuMobile li a {
  width: 100%;
  text-align: right;
  padding: 0.5rem 1rem;
}

.container {
  margin: 0 auto;
  display: inline-block;
  padding: 6rem 2rem;
  width: 100%;
  max-width: var(--max-size-container);
  color: var(--color-black);
}
.actionContainer {
  max-width: var(--max-size-container-2);
  margin: 0 auto;
  color: var(--color-text-black);
}
.actionContainer h2 {
  font-size: 2.5rem;
}
.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  text-align: center;
  background: var(--color-bg-white);
}
.page main section:first-of-type {
  padding-top: 3rem;
  background: var(--color-blue);
  transition: var(--transition-hover);
}
.page section h1 {
  text-wrap: balance;
  margin-top: 2rem;
}
.page section h2 {
  margin-bottom: 2rem;
  color: var(--color-text-black);
}
.page section h3 {
  margin-bottom: 1.5rem;
}
.page section article li,
.page section p {
  font-size: var(--font-size);
}
.page section p {
  margin-bottom: 2rem;
}
.page section h1 + p {
  margin-top: 2.5rem;
}
.page section h1 ~ p {
  margin-bottom: 1.5rem;
}

.blueBackground {
  background: var(--color-blue) !important;
}

.colorfulBackground {
  background: var(--background-gradient) !important;
}

/* App Icon */
.icon {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  margin: 1.5rem auto;
  background-size: 3.5rem;
  background-image: url('/findto-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-white);
  border-radius: 33.333%;
  transition: var(--transition);
}
.icon:hover {
  transform: translateY(-0.25rem);
}

/* Card Duos */
.cardDuos {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  margin: 2rem auto;
  max-width: var(--max-size-container-2);
}
.cardDuos article {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  align-items: center;
  text-align: center;
}
.cardDuos h2 {
  margin-top: 0;
}

.showOnMobile {
  display: inline-flex;
}
.hideOnMobile {
  display: none;
}

@media screen and (min-width: 768px) {
  .showOnMobile {
    display: none !important;
  }
  .hideOnMobile {
    display: inline-flex;
  }

  .header ul {
    gap: 2rem;
  }
  .header ul li a {
    font-size: var(--font-size);
  }

  .icon {
    width: 10rem;
    height: 10rem;
    margin: 2rem auto 0;
    background-size: 4.5rem;
  }

  .container {
    padding: 6rem 2rem;
  }

  .cardDuos article {
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
    text-align: left;
  }
  .cardDuos article:nth-child(2) {
    grid-row: 1;
    grid-column: 1;
  }
  .cardDuos article:nth-child(2) div:first-child {
    grid-row: 1;
    grid-column: 2;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    padding: 0 2rem;
  }

  .page section article li,
  .page section p {
    font-size: var(--font-size-big);
  }

  .actionContainer h2 {
    font-size: var(--font-size-1);
  }
}
