.container {
  margin: 0 auto;
  max-width: var(--max-size-container);
}
.containerBanner {
  padding: 6rem;
  background: var(--background-surface);
  border-radius: 2rem;
  margin: 2rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  grid-template-columns: 1fr;
  gap: 0;
  text-align: center;
}

.container h3 {
  margin-bottom: 2rem;
  font-size: var(--font-size-2);
  color: var(--color-text-black);
}
.container p {
  margin-bottom: 0.75rem;
  font-size: var(--font-size-big);
  color: var(--color-text-black);
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

@media screen and (max-width: 576px) {
  .containerBanner {
    padding: 2.5rem 2rem;
    margin: 1rem;
  }
  .container h3 {
    font-size: var(--font-size-3);
    margin-bottom: 1.5rem;
  }
  .container p {
    font-size: var(--font-size-small);
  }
}
