/* Cards */
.cards {
  display: flex;
  grid-gap: 1.5rem;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 6rem;
}
.cards a {
  position: relative;
  margin: 0;
  padding: 1rem;
  max-width: 8rem;
  flex-basis: 100%;
  color: inherit;
  text-decoration: none;
  border-radius: var(--radius);
  background: var(--color-w);
  top: 0;
  transition: ease 0.25s;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards a:hover,
.cards a:focus {
  top: -8px;
  box-shadow: var(--shadow-2);
}

.cards p {
  text-align: center;
  font-weight: normal;
}
.cards h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1rem;
}
.cards figure {
  display: flex;
  width: 5rem;
  height: 5rem;
  align-items: center;
  justify-content: center;
  border-radius: var(--radius);
  margin: 0 auto;
}
.cards svg {
  width: 2.5rem;
  height: 2.5rem;
}
