.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--container-sidebar);
  height: 100vh;
  margin: 0;
  background: var(--background-surface-secondary);
  color: white;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}
.nav.open {
  transform: translateX(0);
}

@media screen and (max-width: 1024px) {
  .nav {
    display: none;
  }
}
