.container {
  padding: 0 1rem;
  overflow: hidden;
}
.container ul {
  list-style: none;
  display: grid;
  gap: 1rem;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.container ul li button {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  width: 100%;
  border: 0;
  margin: 0;
  background: var(--color-bg-white);
  color: var(--color-text-black);
  border-radius: var(--radius);
  transition: var(--transition-hover);
  box-shadow: var(--box-shadow);
  flex-direction: row;
  overflow: hidden;
}
.container ul li button img {
  width: 58px;
  background: var(--color-white);
  transition: var(--transition-hover);
  filter: grayscale(100%);
}
.container ul li button:hover img,
.container ul li button:focus img {
  opacity: 0.9;
}
.container ul li button span {
  text-align: left;
  font-size: var(--font-size-big);
  letter-spacing: -0.05rem;
}

/* Sizes */

.trendsVideos ul,
.trendsImage ul,
.trendsMusic ul,
.trendsSocial ul,
.trendsNews ul,
.trendsShopping ul {
  grid-template-columns: repeat(4, 1fr);
}

.trendsVideos ul li button,
.trendsImage ul li button,
.trendsMusic ul li button,
.trendsNews ul li button,
.trendsShopping ul li button {
  gap: 0;
  padding: 0;
  flex-direction: column;
}

.trendsVideos ul li button span,
.trendsImage ul li button span,
.trendsMusic ul li button span,
.trendsNews ul li button span,
.trendsShopping ul li button span {
  text-align: center;
  padding: 2rem;
}
.trendsCode ul li button span {
  line-break: anywhere;
}
.trendsNews ul li button span {
  text-align: left;
}

.trendsVideos ul li button img,
.trendsMusic ul li button img,
.trendsImage ul li button img,
.trendsNews ul li button img,
.trendsShopping ul li button img {
  width: 100%;
}
.trendsShopping ul li button img {
  padding: 2rem;
}

.trendsSocial ul li button span {
  padding: 0 0.5rem;
}
.trendsSocial ul li:nth-child(1) button span,
.trendsAcademic ul li:nth-child(1) button span {
  font-size: calc(var(--font-size-big) + 0.5rem);
}
.trendsSocial ul li:nth-child(2) button span,
.trendsAcademic ul li:nth-child(2) button span {
  font-size: calc(var(--font-size-big) + 0.45rem);
}
.trendsSocial ul li:nth-child(3) button span,
.trendsAcademic ul li:nth-child(3) button span {
  font-size: calc(var(--font-size-big) + 0.4rem);
}
.trendsSocial ul li:nth-child(4) button span,
.trendsAcademic ul li:nth-child(4) button span {
  font-size: calc(var(--font-size-big) + 0.35rem);
}
.trendsSocial ul li:nth-child(5) button span,
.trendsAcademic ul li:nth-child(5) button span {
  font-size: calc(var(--font-size-big) + 0.3rem);
}
.trendsSocial ul li:nth-child(6) button span,
.trendsAcademic ul li:nth-child(6) button span {
  font-size: calc(var(--font-size-big) + 0.25rem);
}
.trendsSocial ul li:nth-child(7) button span,
.trendsAcademic ul li:nth-child(7) button span {
  font-size: calc(var(--font-size-big) + 0.2rem);
}
.trendsSocial ul li:nth-child(8) button span,
.trendsAcademic ul li:nth-child(8) button span {
  font-size: calc(var(--font-size-big) + 0.15rem);
}
.trendsSocial ul li:nth-child(9) button span,
.trendsAcademic ul li:nth-child(9) button span {
  font-size: calc(var(--font-size-big) + 0.1rem);
}
.trendsSocial ul li:nth-child(10) button span,
.trendsAcademic ul li:nth-child(10) button span {
  font-size: calc(var(--font-size-big) + 0.05rem);
}

.trendsLocal ul li button img {
  padding: 0.75rem;
}

.title h2 {
  display: flex;
  font-size: var(--font-size-3);
  margin-bottom: 2rem;
  color: var(--color-text-black);
}
.title h2 svg {
  margin: -1px 0.75rem 0 0;
  color: var(--color-text-black);
}

.credits p {
  margin-top: 2.5rem;
  padding-right: 1rem;
  font-size: var(--font-size-small);
  width: 100%;
  text-align: right;
  color: var(--color-black-translucent-50);
}
.credits p a {
  transition: var(--transition);
}
.credits p a:hover,
.credits p a:focus {
  color: var(--color-text-black);
}

@media screen and (max-width: 940px) {
  .title h2 {
    font-size: 1.25rem;
  }

  .container ul {
    gap: 0.5rem;
  }

  .container ul li button span {
    font-size: var(--font-size);
  }
}
@media screen and (max-width: 768px) {
  .container ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 480px) {
  .container ul {
    grid-template-columns: 1fr;
  }
}
