.section {
  width: 100%;
}
.container ul {
  filter: grayscale(100%);
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}
.container ul li button {
  background: var(--color-bg-white);
  border: 0;
  margin: 0;
  padding: 1rem 1.5rem;
  border-radius: var(--radius);
  transition: var(--transition-hover);
  color: var(--color-text-black);
  box-shadow: var(--box-shadow);
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.container ul li button:hover,
.container ul li button:focus {
  background: var(--color-black-translucent);
}
.container ul li button span {
  text-align: left;
  font-size: var(--font-size-big);
  letter-spacing: -0.05rem;
}
.container ul li button img {
  border-radius: 4px;
}

.trends {
  background: red;
}

/* Categories */
.container .trendsWeb li button,
.container .trendsAI li button {
  flex-direction: row-reverse;
}

.container .trendsVideos li button,
.container .trendsMusic li button {
  padding: 1.75rem;
  flex-direction: column;
  max-width: 200px;
}

.container .trendsVideos li button span,
.container .trendsMusic li button span,
.container .trendsNews li button span {
  text-align: center;
}

/* News */
.container .trendsNews li button {
  padding: 1.75rem;
  flex-direction: column;
  max-width: 300px;
}
.container .trendsNews li button img {
  width: 100%;
}

.container .trendsLocal li button img,
.container .trendsApps li button img {
  width: 48px;
}

.container .trendsCode li button img {
  width: 32px;
}

.container .trendsShopping li button img {
  padding: 1rem;
  background: var(--color-white);
}

.container .trendsLocal li button img {
  padding: 0.5rem;
  background: var(--color-white);
}

.title h2 {
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: var(--color-text-black);
}
.title h2 svg {
  margin: -1px 0.75rem 0 0;
  color: var(--color-text-black);
}

.credits p {
  margin-top: 2.5rem;
  font-size: var(--font-size-small);
  width: 100%;
  text-align: right;
  color: var(--color-text-black);
}
.credits p a {
  margin-left: 0.5rem;
}

@media screen and (max-width: 940px) {
  .section {
    padding: 1rem;
    overflow: hidden;
  }

  .title h2 {
    font-size: 1.25rem;
  }

  .container ul {
    gap: 0.5rem;
  }

  .container ul li button span {
    font-size: var(--font-size);
  }
}
