{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "next/core-web-vitals",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "no-unused-vars": [
      "error",
      { "vars": "all", "args": "none", "ignoreRestSiblings": true }
    ],
    "@typescript-eslint/no-explicit-any": "error",
    "prettier/prettier": "warn",
    "react/no-unescaped-entities": "error",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",      // fs, path, etc
          "external",     // react, next, etc
          "internal",     // @/utils, @/components
          ["parent", "sibling", "index"] // ../ ou ./ arquivos locais
        ],
        "pathGroups": [
          {
            "pattern": "@/**",
            "group": "internal"
          }
        ],
        "pathGroupsExcludedImportTypes": ["builtin"],
        "newlines-between": "always",
        "alphabetize": { "order": "asc", "caseInsensitive": true }
      }
    ]
  }
}
