.card {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: start;
  gap: 1rem;
  width: 100%;
  overflow: hidden;
  padding: 1.25rem;
  background: var(--background-surface);
  color: var(--color-text-black);
  border-radius: var(--radius-liquid-glass);
  text-align: left;
}
.card:hover,
.card:focus {
  background: var(--color-blue);
  color: var(--color-black);
}

.column {
  flex-direction: column;
}

.image {
  width: 100%;
  aspect-ratio: auto;
  overflow: hidden;
  position: relative;
  display: block;
  border-radius: 12px;
  filter: grayscale(100%);
  background: white;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Imagem cobre todo o container sem distorcer */
  object-position: center;
}

.aspectRatioVideo {
  aspect-ratio: 16 / 9; /* Mantém proporção para vídeos */
}

.title,
.author {
  font-size: var(--font-size);
  font-weight: 400;
  filter: grayscale(100%);
}

.author {
  opacity: var(--opacity);
}
