.container {
  list-style: none;
  display: grid;
  gap: 0;
  padding: 0;
  margin: 0 -1rem;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
}
.container li button {
  position: relative;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  padding: 1rem;
  width: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  color: var(--color-black);
  border-radius: var(--radius);
  transition: var(--transition-hover);
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  font-weight: 400;
}
.container li button:hover,
.container li button:focus {
  background: var(--color-black-translucent);
}

.container li button img {
  width: 4rem;
  background: var(--color-white);
  transition: var(--transition-hover);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  filter: grayscale(100%);
}
.container li button span {
  text-align: left;
  font-size: var(--font-size);
  letter-spacing: -0.025rem;
}

.trendsVideos,
.trendsMusic,
.trendsNews,
.trendsFinance {
  grid-template-columns: repeat(4, 1fr);
}

.trendsVideos li button,
.trendsMusic li button,
.trendsImage li button,
.trendsNews li button,
.trendsGames li button,
.trendsFinance li button,
.trendsShopping li button {
  gap: 1rem;
  flex-direction: column;
  align-items: start;
}

.trendsSocial li button span,
.trendsCode li button span {
  line-break: anywhere;
  /* word-break: break-all; */
}

.trendsVideos li button img,
.trendsMusic li button img,
.trendsImage li button img,
.trendsNews li button img,
.trendsGames li button img,
.trendsFinance li button img,
.trendsShopping li button img {
  width: 100%;
}

.trendsShopping li button img {
  padding: 3rem;
}
.trendsLocal li button img {
  padding: 0.75rem;
}

.trendsSocial li button span,
.trendsAcademic li button span {
  padding: 0 0.5rem;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }

  .title h3 {
    font-size: var(--font-size);
  }
}

@media screen and (max-width: 576px) {
  .container {
    grid-template-columns: 1fr;
  }
  .container li button {
    padding: 1rem;
  }

  .trendsHome li button img,
  .trendsAI li button img,
  .trendsWeb li button img,
  .trendsLocal li button img,
  .trendsCode button img,
  .trendsApps button img {
    width: 52px !important;
  }
}
