.button {
  display: inline-flex;
  gap: 0.75rem;
  margin: 0.5rem 0 0;
  width: auto;
  padding: 0 2.4rem;
  height: var(--size-big);
  font-size: var(--font-size-big);
  border: none;
  border-radius: var(--radius-full);
  transition: var(--transition);
  justify-content: center;
  align-items: center;
}
.button:hover {
  transform: translateY(-1px);
  box-shadow: var(--box-shadow);
}

.button svg {
  width: 1.25rem;
  height: 1.25rem;
}

.black {
  background: var(--color-text-black);
  color: var(--color-bg-white);
}

@media screen and (max-width: 576px) {
  .button {
    gap: 0.5rem;
    padding: 0 2rem;
    height: var(--size-small);
    font-size: var(--font-size);
  }
}
