.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 3rem;
  padding: 3rem 0;
}
.card div {
  display: flex;
  width: 280px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card figure {
  display: flex;
  background: var(--color-white-translucent-2);
  height: 5rem;
  width: 5rem;
  margin: 0 auto;
  border-radius: var(--radius-full);
  box-shadow: var(--shadow-2);
  align-items: center;
  justify-content: center;
}
.card h3 {
  margin-top: 2rem;
}
.card svg {
  width: 1.8rem;
  height: 1.8rem;
}
.card a {
  padding: 0.3rem 0.6rem;
  background: var(--color-white-translucent-2);
  border-radius: 0.75rem;
  box-shadow: var(--shadow-2);
}

@media screen and (min-width: 940px) {
  .card {
    grid-gap: 5rem;
  }
  .card figure {
    margin: 0;
  }
}
