.icon {
  position: relative;
  display: flex;
  width: 5rem;
  height: 5rem;
  margin: 0 auto;
  /* background-image: var(--background-gradient); */
  background: var(--background-surface);
  border-radius: 33.333%;
  justify-content: center;
  align-items: center;
  /* color: var(--color-black); */
  /* background-image: url('/icon.svg');
  background-size: 3rem;
  background-repeat: no-repeat; */
}
.icon svg {
  /* display: none; */
  width: 2.75rem;
  height: 2.75rem;
}

@media screen and (max-width: 768px) {
  .icon {
    width: 3.5rem;
    height: 3.5rem;
  }

  .icon svg {
    width: 1.75rem;
    height: 1.75rem;
  }
}
