.container {
  padding: 3rem 3rem 2.5rem;
  overflow: hidden;
  margin: 0 auto 2rem;
  max-width: var(--max-size-container);
  background: var(--background-linear-gradient);
  border-radius: var(--radius-big);
  color: var(--color-black);
  width: calc(100% - 4rem);
}

.title {
  display: flex;
  gap: 1.25rem;
  align-items: center;
  margin-bottom: 1.5rem;
}
.title h3 {
  display: flex;
  font-size: 1.25rem;
  font-weight: 400;
}
.title svg {
  width: 1.25rem;
  height: 1.25rem;
}

.credits p {
  margin-top: 1.5rem;
  font-size: var(--font-size-small);
  width: 100%;
  text-align: right;
  opacity: var(--opacity);
}
.credits p a {
  transition: var(--transition);
}

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 2rem 2rem 3rem;
    border-radius: 0;
  }
}

@media screen and (max-width: 576px) {
  .container {
    padding: 2rem 1.5rem 1.5rem;
  }

  .title h3 {
    font-size: var(--font-size);
  }
}
