.header {
  position: relative;
  display: flex;
  align-items: center;
  vertical-align: middle;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
}
.header svg {
  width: 20px;
  height: 20px;
  color: var(--color-text-black);
}
.header button {
  background: transparent;
  border: none;
  opacity: var(--opacity);
}
.header button:hover,
.header button:focus,
.header a:hover,
.header a:focus {
  opacity: 1;
  background: var(--color-black-translucent);
}

.logo {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  padding: 0 1rem;
  margin: 1rem 0.75rem;
  height: var(--size-big);
  border-radius: var(--radius-full);
  color: var(--color-text-black);
}

.nav {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  padding: 0.25rem 0;
}
.nav li {
  display: inline-block;
}

.nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--size-big);
  border-radius: var(--radius-full);
  font-size: 1rem;
  color: var(--color-text-black);
  padding: 0 1.2rem;
  gap: 0.35rem;
}

.containerSettings {
  display: grid;
  grid-gap: 0.5rem;
  margin-top: 1rem;
}
.containerSettings:not(:last-of-type) {
  margin-bottom: 2rem;
}
.containerSettings button,
.containerSettings a {
  border-radius: var(--radius);
  display: flex;
  height: var(--size-small);
  font-size: var(--font-size);
  background: var(--color-bg-grey);
  color: var(--color-text-black);
  align-items: center;
  opacity: 1;
}
.containerSettings button svg,
.containerSettings a svg {
  margin: 0 1rem;
}

.header .iconSettings {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
}

.header .iconSettings button {
  width: var(--size-big);
  height: var(--size-big);
  font-size: 0;
  justify-content: center;
  border-radius: var(--radius-full);
}
.containerSettings h3 {
  font-size: 1.25rem;
  margin: 0 0 0.5rem 0;
}

.submenu ul {
  align-items: flex-start;
  background: var(--color-bg-white);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 320px;
  height: 100%;
  bottom: var(--size-big);
  flex-direction: column;
  border-radius: 0;
  box-shadow: var(--box-shadow);
  padding: 1.25rem 0;
  overflow: hidden;
  z-index: 99999;
}
.submenu ul li {
  width: 100%;
}
.submenu ul li button {
  border-radius: 0;
  width: 100%;
  padding: 0 2rem;
  justify-content: flex-start;
}

@media screen and (max-width: 940px) {
  .nav ul {
    padding: 0 1rem;
  }
  .nav button {
    width: var(--size-large);
    height: var(--size-large);
    font-size: 0;
    gap: 0;
    padding: 0;
  }

  .nav button {
    height: var(--size-small);
  }

  .logo svg {
    width: 18px;
    height: 18px;
  }
  .logo,
  .iconSettings button {
    height: 2.75rem;
    margin: 0.5rem;
  }
  .header .iconSettings {
    padding: 0;
  }

  .containerSettings button,
  .containerSettings a {
    font-size: var(--font-size-small);
  }
}
