.container {
  overflow: hidden;
  margin: 0 auto;
}

.slide button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: var(--radius);
  padding: 1rem;
  width: 100%;
  border: 0;
  margin: 0;
  background: transparent;
  color: var(--color-black);
  flex-direction: column;
  overflow: hidden;
  transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
  filter: grayscale(100%);
}
.slide button:hover,
.slide button:focus {
  background: var(--color-black-translucent);
  z-index: 999;
}

.slide button figure {
  width: 132px;
  height: 132px;
  z-index: 0;
  border-radius: 50%;
  transition: 0.3s all;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-black);
  background-position: 0;
  background-size: cover;
  box-shadow: var(--box-shadow);
}
.slide button:hover figure,
.slide button:focus figure {
  transform: scale(1.025);
}
.slide button span {
  text-align: left;
  font-size: var(--font-size);
  font-weight: 400;
  word-break: break-word;
  margin-top: 1rem;
}

.videoPlayer {
  position: relative;
  width: 100%;
  height: 526px;
  border-radius: var(--radius-small);
  max-width: 100%;
  max-height: 100vh;
  background: black;
  overflow: hidden;
  filter: grayscale(100%);
  padding: 0;
  margin: 1rem auto;
}

.closeButton {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  height: auto;
  width: auto;
  display: flex;
  background: none;
  gap: 0.5rem;
  padding: 0.75rem 2.5rem;
  border: none;
  border-radius: var(--radius);
  font-size: var(--font-size-small);
  cursor: pointer;
  color: var(--color-black);
  background: var(--color-white);
  align-items: center;
  justify-content: center;
}
.closeButton svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--color-black);
}

@media screen and (max-width: 768px) {
  .slide button figure {
    width: 18vw;
    height: 18vw;
  }

  .videoPlayer {
    height: 52vw;
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .slide button figure {
    width: 20vw;
    height: 20vw;
  }

  .slide button span {
    font-size: 0.6rem;
  }

  .closeButton {
    top: 0.35rem;
    right: 0.35rem;
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 0.75rem;
    gap: 0.25rem;
  }
  .closeButton svg {
    width: 1.15rem;
    height: 1.15rem;
  }
}
