.container {
  overflow: hidden;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.25rem;
  padding: 0;
  margin: 0;
}

.videoPlayer {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: var(--radius-liquid-glass);
  max-width: 100%;
  max-height: 100vh;
  background: black;
  overflow: hidden;
  filter: grayscale(100%);
  padding: 0;
  margin: 0 auto 1.5rem;
}

.closeButton {
  position: absolute;
  top: -3px;
  right: 0;
  height: auto;
  width: auto;
  display: flex;
  color: var(--color-bg-white);
  background: var(--color-text-black);
  padding: 0.5rem;
  border: none;
  border-radius: var(--radius-full);
}
.closeButton button svg {
  width: 1rem;
  height: 1rem;
  fill: var(--color-black);
}

@media screen and (max-width: 768px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}
