.circlePosition {
  width: 300px;
  height: 300px;
  position: absolute;
  z-index: 0;
  top: 0%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  filter: blur(90px);
  animation: colorShift 20s ease-in-out infinite;
}

@keyframes colorShift {
  0% {
    background-color: #eb26fd;
  }
  25% {
    background-color: #26fdfd;
  }
  50% {
    background-color: #26fd72;
  }
  75% {
    background-color: #fdd826;
  }
  100% {
    background-color: #fd2626;
  }
}
