.main svg,
.header svg {
  width: 20px;
  height: 20px;
  color: var(--color-text-black);
}

.activeLink {
  opacity: 1 !important;
  background: var(--color-bg-white) !important;
  color: var(--color-text-black) !important;
  box-shadow: var(--box-shadow) !important;
}
.activeLink svg {
  color: var(--color-text-black) !important;
}

/* Header */
.header {
  z-index: 999;
}
.header button {
  font-size: 0;
  background: var(--color-bg-grey);
  border: none;
  opacity: var(--opacity);
}
.header button:hover,
.header button:focus,
.header a:hover,
.header a:focus {
  opacity: 1;
  background: var(--color-black-translucent);
}

/* Main */
.main {
  text-align: center;
  margin: 0 auto;
  padding: 0 2rem;
  box-sizing: content-box;
  max-width: var(--max-size-container);
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  height: var(--size-large);
  border-radius: var(--radius-full);
  color: var(--color-text-black);
}
.logo svg {
  margin-right: 0.75rem;
  width: 24px;
  height: 24px;
}

/* Tabs */
.tabs ul {
  display: none;
}
.tabs ul li {
  display: inline-flex;
}
.tabs button {
  display: inline-block;
  padding: 0 1rem;
  margin: 0;
  border: 0;
  font-size: var(--font-size);
  color: var(--color-black);
  height: var(--size-small);
  border-radius: var(--radius-full);
  opacity: var(--opacity);
  background: transparent;
}
.tabs button:hover,
.tabs button:focus {
  background: var(--color-black-translucent);
  opacity: 1;
}

/* Search */
.searchContainer {
  background: var(--color-white);
  border-radius: var(--radius-big);
}
.searchContainer label {
  font-size: 0;
}
.searchContainer select {
  background-color: var(--color-white-translucent);
  height: var(--size-small);
  box-shadow: var(--box-shadow);
  border-radius: var(--radius-full);
  padding: 0 3rem 0 1.5rem;
  color: var(--color-black);
}
.searchContainer h1 {
  font-size: 1.8rem;
  color: var(--color-black);
}
.searchContainer2 {
  padding: 3.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;

  transition: var(--transition-hover);
  border-radius: var(--radius-big);
  box-shadow: var(--box-shadow);
  background: var(--color-white);
  color: var(--color-text-black);
}

.searchInputContainer {
  /* max-width: 800px; */
  width: 100%;
}

/* Input */
.searchInput {
  position: relative;
  display: flex;
  align-items: center;
}
.searchInput input {
  position: relative;
  display: inline-block;
  float: none;
  height: auto;
  width: 100%;
  line-height: var(--size-input);
  margin: 0;
  padding: 0 10rem 0 1.75rem;
  border: none;
  outline: none;
  color: var(--color-black);
  font-weight: bold;
  font-size: var(--font-size-big);
  letter-spacing: normal;
  text-align: left;
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: var(--radius-full);
  transition: all ease-in-out 0.25s;
}
.searchInput input:hover,
.searchInput input:focus {
  box-shadow: var(--shadow-hover);
}

.searchActions {
  position: absolute;
  right: 0;
  display: flex;
  gap: 0;
  align-items: center;
}

.searchButton,
.resetButton {
  font-size: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--size-input);
  width: 4.5rem;
  background: transparent;
  border-radius: var(--radius);
  border: 0;
}
.searchButton svg,
.resetButton svg {
  color: var(--color-black);
}
.resetButton {
  display: none;
  width: var(--size-small);
  opacity: var(--opacity);
  border-radius: 0;
  background: transparent;
}
.resetButton:focus,
.resetButton:hover {
  opacity: 1;
}

/* Placeholder */
.searchPlaceholder {
  position: absolute;
  display: flex;
  gap: 0.8rem;
  justify-content: flex-start;
  align-items: center;
  width: auto;
  height: 32px;
  margin: 1rem 2rem;
  text-align: left;
  font-size: var(--font-size);
  font-weight: bold;
  color: var(--color-black);
  z-index: 1;
  opacity: var(--opacity);
  cursor: text;
}
.searchPlaceholder figure {
  width: 120px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: 0;
  /* background-color: grey; */
}
.searchPlaceholder figcaption {
  color: var(--color-black);
}

.footerActions {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.widgetContainer {
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 260px;
  grid-gap: 2rem;
  margin: 2rem auto 0;
}

/*
  Layout 1 (top)
*/
.layout1 .header {
  position: relative;
  display: flex;
  align-items: center;
  vertical-align: middle;
  flex-wrap: nowrap;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 1.5rem 2rem;
}
.layout1 .nav li {
  display: inline-block;
}
.layout1 .nav button {
  margin: 0.25rem 0;
}
.layout1 .nav button,
.layout1 .header .iconSettings button {
  border-radius: var(--radius-full);
  width: var(--size-large);
  height: var(--size-large);
  font-size: 0;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.layout1 .header .nav button svg,
.layout1 .header .iconSettings button svg {
  width: 1.4rem;
  height: 1.4rem;
}

.layout1 .tabs button:hover,
.layout1 .tabs button:focus {
  background: var(--color-white-translucent);
}

.layout1 .searchContainer {
  margin: 0 0 5rem;
}

/*
  Layout 2 (left)
*/
.layout2 {
  margin-left: var(--size-header);
}
.layout2 .header {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: var(--size-header);
  /* background: var(--color-white);
  box-shadow: var(--box-shadow); */
}
.layout2 .logo {
  margin: 1.5rem 0.75rem;
  height: var(--size-small);
  border-radius: var(--radius);
}
.layout2 .nav {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.1rem 0.75rem 10.5rem;
}
.layout2 .nav button,
.layout2 .header .iconSettings button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: var(--size-small);
  border-radius: var(--radius);
  font-size: 1rem;
  color: var(--color-text-black);
}
.layout2 .iconSettings {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.75rem;
  width: 100%;
  background: inherit;
}

.layout2 .nav button svg,
.layout2 .header .iconSettings button svg {
  margin: 0 1rem;
}

.containerSettings {
  display: grid;
  grid-gap: 0.5rem;
  margin-top: 1rem;
}
.containerSettings:not(:last-of-type) {
  margin-bottom: 2rem;
}
.containerSettings button,
.containerSettings a {
  border-radius: var(--radius);
  display: flex;
  height: var(--size-small);
  font-size: var(--font-size);
  background: var(--color-bg-grey);
  color: var(--color-text-black);
  align-items: center;
  opacity: 1;
}
.containerSettings button svg,
.containerSettings a svg {
  margin: 0 1rem;
}

.layout2 .searchContainer {
  margin: 2rem 0 5rem;
}

/* Mobile */
@media screen and (max-width: 940px) {
  .layout1 .header {
    padding: 0 0 1rem 0;
    flex-direction: column;
  }

  .layout1 .nav button {
    height: var(--size-small);
  }

  .layout1 .logo svg {
    width: 18px;
    height: 18px;
  }

  .layout1 .logo,
  .layout1 .header .iconSettings button {
    height: 2.75rem;
    margin: 0.5rem;
  }

  .layout1 .header .iconSettings {
    position: absolute;
    right: 0;
    top: 0;
  }
  .layout1 .header .iconSettings button {
    width: 2.75rem;
  }

  .layout1 .main {
    padding: 0;
  }

  .searchContainer {
    margin: 0 0 3rem;
    border-radius: 0;
  }
  .searchContainer h1 {
    font-size: 1.5rem;
  }
  .searchContainer2 {
    padding: 2.5rem 0;
    gap: 1rem;
    border-radius: 0;
    box-shadow: none;
  }

  .layout1 .nav ul,
  .layout1 .tabs ul {
    padding: 0 1rem;
  }

  .layout1 .nav,
  .layout1 .tabs {
    width: 100%;
  }
  .layout1 .nav ul,
  .layout1 .tabs ul {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    text-align: center;
  }
  .layout1 .nav li,
  .layout1 .tabs li {
    width: auto;
    display: inline-block;
  }

  .layout1 .tabs button {
    margin: 0.25rem 0;
    font-size: var(--font-size-small);
    height: 1.5rem;
    padding: 0 0.75rem;
  }

  .layout1 .searchInputContainer,
  .layout1 .widgetContainer {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .layout1 .widgetContainer {
    grid-template-columns: 1fr;
  }

  .containerSettings button,
  .containerSettings a {
    font-size: var(--font-size-small);
  }

  .layout1 .searchInput input {
    font-size: var(--font-size);
    padding: 0 6.5rem 0 1.25rem;
  }
  .layout1 .searchInput {
    line-height: 3rem;
  }

  .searchButton,
  .resetButton {
    height: 3rem;
    width: 2.75rem;
  }
  .resetButton {
    width: 2rem;
  }

  .searchPlaceholder {
    margin: 1rem 1.5rem;
  }
  .searchPlaceholder figure {
    height: 26px;
  }
}
