:root {
  font-size: 16px;
  --background-color: #fff;
  --active-color: #000;
  --text-color: #000;
  --color-white: #fff;
  --color-gray: #717171;
  --color-grey: #f2f2f2;
  --color-black: #000;
  --color-dark: #313340;
  --color-dark-2: #202123;
  --color-green: #0ae7ab;
  --color-yellow: #fff45b;
  --color-red: #ff6370;
  --color-purple: #b983ff;
  --color-blue: #56bbff;
  --color-white-translucent: rgba(255, 255, 255, 0.2);
  --color-white-translucent-2: rgba(255, 255, 255, 0.25);
  --color-white-translucent-3: rgba(255, 255, 255, 0.4);
  --color-black-translucent: rgba(0, 0, 0, 0.1);
  --box-shadow: 0 1.8px 3.8px 0 rgb(0 0 0 / 7%), 0 0.3px 0.9px 0 rgb(0 0 0 / 5%);
  --opacity: 0.6;
  --font: 'Source Code Pro', sans-serif;
  --font-size: 1rem;
  --font-size-small: 0.85rem;
  --font-size-big: 1.2rem;
  --font-size-1: 4rem;
  --radius: 1rem;
  --radius-full: 75rem;
  --size-small: 34px;
  --size-medium: 40px;
  --size-large: 48px;
  --size-header: 240px;
  --max-size-container: 1200px;
  --transition-hover: hover, background-color 0.2s;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  font-family: var(--font);
  outline-color: var(--color-black);
}
body {
  background-color: var(--background-color);
  transition: var(--transition-hover);
}

a,
button,
h1,
h2,
h3,
h4,
h5,
h6,
input,
select,
option {
  font-weight: bold;
  font-family: var(--font);
  letter-spacing: -0.25px;
}

/* a:focus,
button:focus,
select:focus {
  outline: 2.5px solid #000;
} */

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

header button {
  font-size: 0;
  background: transparent;
  border: none;
  padding: 1rem;
  opacity: var(--opacity);
}
header button:hover,
header button:focus {
  opacity: 1;
}

p {
  font-size: var(--font-size);
}
h1 {
  font-size: var(--font-size-1);
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.5rem;
}

article {
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
}
article h2 {
  margin: 4rem 0 1.5rem;
}
article ul {
  list-style: disc;
  margin-left: 2rem;
}
article li {
  margin-bottom: 1rem;
}
article hr {
  margin-top: 2rem;
  border: 0;
}

select {
  cursor: pointer;
  font-size: 1rem;
  height: var(--size-medium);
  padding: 0 1rem;
  line-height: 1.2rem;
  margin: 0;
  border-radius: var(--radius);
  border: none;
  color: var(--color-black);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23000' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round' %3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1.2rem;
  background-position: 95% 52%;
  background-color: var(--color-grey);
  padding-right: 4rem;
}

/* Transitions */
a,
#logo,
#nav button,
#searchApp,
#searchApp a,
#searchApp button,
#searchApp input {
  transition: var(--transition-hover);
}

/* Colors Animation */
.colors {
  animation: colorsAnimation 60s ease alternate infinite;
}
@keyframes colorsAnimation {
  0% {
    background: var(--color-green);
  }
  25% {
    background: var(--color-yellow);
  }
  50% {
    background: var(--color-red);
  }
  75% {
    background: var(--color-purple);
  }
  100% {
    background: var(--color-blue);
  }
}
.colorsSvg {
  animation: colorsAnimationSvg 60s ease alternate infinite;
}
@keyframes colorsAnimationSvg {
  0% {
    fill: var(--color-green);
  }
  25% {
    fill: var(--color-yellow);
  }
  50% {
    fill: var(--color-red);
  }
  75% {
    fill: var(--color-purple);
  }
  100% {
    fill: var(--color-blue);
  }
}

/* Select */
::-moz-selection {
  color: var(--color-white);
  background: var(--color-black);
}
::selection {
  color: var(--color-white);
  background: var(--color-black);
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari */
  color: var(--color-gray);
  opacity: 1;
}
/* Internet Explorer 10-11 */
:-ms-input-placeholder {
  color: var(--color-gray);
}
/* Microsoft Edge */
::-ms-input-placeholder {
  color: var(--color-gray);
}

.dark {
  background: var(--color-dark);
  color: var(--color-white);
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Trends  */
#trends ul li:nth-child(1) button {
  font-size: 2.5rem;
}
#trends ul li:nth-child(2) button {
  font-size: 2.4rem;
}
#trends ul li:nth-child(3) button {
  font-size: 2.2rem;
}
#trends ul li:nth-child(4) button {
  font-size: 2.3rem;
}
#trends ul li:nth-child(5) button {
  font-size: 2.1rem;
}
#trends ul li:nth-child(6) button {
  font-size: 2rem;
}
#trends ul li:nth-child(7) button {
  font-size: 1.8rem;
}
#trends ul li:nth-child(8) button {
  font-size: 1.7rem;
}
#trends ul li:nth-child(9) button {
  font-size: 1.5rem;
}
#trends ul li:nth-child(10) button {
  font-size: 1.3rem;
}
