:root {
  font-size: 16px;
  --color-bg-white: #fff;
  --color-bg-grey: #f5f5f7;
  --color-text-black: #000;
  --color-black-translucent-50: rgba(0, 0, 0, 0.5);
  --color-white-translucent-50: rgba(255, 255, 255, 0.5);
  --color-white: #fff;
  --color-grey: #f5f5f7;
  --color-gray: #717171;
  --color-black: #000;
  --color-dark: #202124;
  --color-dark-2: #303136;
  --color-green: #8bf6cf;
  --color-yellow: #fff789;
  --color-red: #ff9494;
  --color-purple: #d6b6ff;
  --color-blue: #5cbeff;
  --color-white-translucent: rgba(255, 255, 255, 0.2);
  --color-white-translucent-2: rgba(255, 255, 255, 0.25);
  --color-black-translucent: rgba(0, 0, 0, 0.05);
  --color-black-translucent-2: rgba(0, 0, 0, 0.15);
  --box-shadow: 0 1.8px 3.8px 0 rgb(0 0 0 / 7%), 0 0.3px 0.9px 0 rgb(0 0 0 / 5%);
  --shadow-2: 0px 6px 12px 0px rgba(0, 0, 0, 0.075);
  --shadow-hover: 0 0 2px rgba(0, 0, 0, 0.05), 0 8px 16px rgba(0, 0, 0, 0.08),
    inset 0 0 0px 5px var(--color-white);
  --opacity: 0.5;
  --font-size: 1rem;
  --font-size-small: 0.8rem;
  --font-size-big: 1.15rem;
  --font-size-3: 1.5rem;
  --font-size-2: 2rem;
  --font-size-1: 3.5rem;
  --radius: 1rem;
  --radius-small: 0.75rem;
  --radius-big: 1.75rem;
  --radius-full: 75rem;
  --size-small: 2.375rem;
  --size-large: 3.25rem;
  --size-big: 3rem;
  --size-header: 260px;
  --max-size-container: 1200px;
  --max-size-container-2: 800px;
  --transition-hover: hover 0.2s, background 0.2s, opacity 0.2s, box-shadow 0.2s;
  --transition: all 200ms;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  font-family: inherit;
  outline-color: var(--color-black);
}
body {
  background: var(--color-bg-grey);
  transition: var(--transition-hover);
}

a,
button,
h1,
h2,
h3,
p,
textarea,
input,
select,
option {
  font-family: inherit;
  letter-spacing: -0.25px;
  outline-color: var(--color-text-black);
}

a,
button,
h1,
h2,
h3,
input,
select,
option {
  font-weight: bold;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Transitions */
a,
button {
  transition: var(--transition-hover);
}

p {
  font-size: var(--font-size);
}
h1 {
  font-size: var(--font-size-1);
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}

article {
  text-align: left;
  margin: 0 auto;
  max-width: 800px;
  color: var(--color-text-black);
}
article h2 {
  margin: 4rem 0 1.5rem;
}
article ul {
  list-style: disc;
  margin-left: 2rem;
}
article li {
  margin-bottom: 1rem;
}
article hr {
  margin-top: 2rem;
  border: 0;
}

select {
  position: relative;
  cursor: pointer;
  font-size: var(--font-size);
  height: var(--size-small);
  padding: 0 3.25rem 0 1.25rem;
  line-height: 1.2rem;
  margin: 0;
  border-radius: var(--radius);
  border: none;
  color: var(--color-text-black);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='black' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round' %3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 1.45rem;
  background-position: top 50% right 1rem;
  background-color: var(--color-bg-grey);
  transition: var(--transition);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select:hover,
select:focus {
  background-color: var(--color-black-translucent);
}

/* Colors Animation */
.colors {
  animation: colorsAnimation 60s ease alternate infinite;
}
@keyframes colorsAnimation {
  0% {
    background: var(--color-green);
  }
  25% {
    background: var(--color-yellow);
  }
  50% {
    background: var(--color-red);
  }
  75% {
    background: var(--color-purple);
  }
  100% {
    background: var(--color-blue);
  }
}
.colorsSvg {
  animation: colorsAnimationSvg 60s ease alternate infinite;
}
@keyframes colorsAnimationSvg {
  0% {
    fill: var(--color-green);
  }
  25% {
    fill: var(--color-yellow);
  }
  50% {
    fill: var(--color-red);
  }
  75% {
    fill: var(--color-purple);
  }
  100% {
    fill: var(--color-blue);
  }
}

::-moz-selection {
  color: var(--color-bg-white);
  background: var(--color-text-black);
}
::selection {
  color: var(--color-bg-white);
  background: var(--color-text-black);
}

::placeholder {
  color: var(--color-text-black);
  opacity: var(--opacity);
}
/* IE 10-11 */
:-ms-input-placeholder {
  color: var(--color-text-black);
  opacity: var(--opacity);
}
/* MS Edge (legacy) */
::-ms-input-placeholder {
  color: var(--color-text-black);
  opacity: var(--opacity);
}

.container {
  max-width: var(--max-size-container);
  margin: 0 auto;
}

.activeLink {
  opacity: 1 !important;
  background: var(--color-bg-white) !important;
  color: var(--color-text-black) !important;
  box-shadow: var(--box-shadow) !important;
}
.activeLink svg {
  color: var(--color-text-black) !important;
}

/* Mobile */
@media screen and (max-width: 940px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  select {
    font-size: var(--font-size-small);
  }
}
