.container {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  text-align: left;
  font-size: var(--font-size);
  background: transparent;
  z-index: 9;
}
.container ul {
  width: 100%;
  padding: 0 1.25rem;
}
.container ul li a {
  float: left;
  padding: 0.2rem 0;
  font-size: var(--font-size-small);
  font-weight: 400;
  width: 100%;
  color: var(--color-black);
  opacity: var(--opacity);
}
.container ul li a:focus,
.container ul li a:hover {
  opacity: 1;
}
.container ul li:first-child a {
  margin-top: 0.5rem;
}

@media screen and (min-width: 940px) {
  .container ul {
    padding: 0 1.5rem;
  }
  .container ul li a {
    font-size: var(--font-size);
  }
}
