.active {
  background: var(--background-surface) !important;
  opacity: 1 !important;
}
.sidebar .active {
  background: var(--color-surface-secondary) !important;
}

.nav a {
  position: relative;
  display: flex;
  font-weight: 400;
  line-height: 1;
}
.nav li {
  display: inline-block;
}
.nav svg {
  width: 1.25rem;
  height: 1.25rem;
}

/* Vertical */
.vertical ul {
  position: relative;
  display: grid;
  margin: -1rem;
  width: 280px;
  grid-template-columns: repeat(3, 1fr);
}
.vertical a {
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.75rem 0.5rem;
  gap: 0.5rem;
  width: 100%;
  border-radius: var(--radius);
  background: transparent;
  font-size: var(--font-size-small);
}
.vertical a:hover,
.vertical a:focus {
  background: var(--color-black-translucent);
}

/* Cards */
.cards ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.25rem;
  margin: 2rem auto 0;
  padding: 0;
  max-width: var(--max-size-container);
}
.cards a {
  opacity: 1;
  padding: 1.75rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-radius: var(--radius-liquid-glass);
  font-size: var(--font-size);
  width: 100%;
  background: var(--background-surface);
  color: var(--color-text-black);
}
.cards a:hover,
.cards a:focus {
  background: var(--color-blue);
  color: var(--color-black);
}

.cards figure {
  display: flex;
}
.cards svg {
  width: 1.5rem;
  height: 1.5rem;
}
.cards li {
  width: 100%;
}

/* Sidebar */
.sidebar {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0.75rem 2rem 0.75rem;
}
.sidebar a {
  opacity: var(--opacity);
  padding: 0.625rem 0.75rem;
  align-items: center;
  gap: 0.75rem;
  font-size: var(--font-size);
  width: 100%;
  color: var(--color-text-black);
  background: transparent;
  border-radius: var(--radius);
}
.sidebar a:hover,
.sidebar a:focus {
  transition: var(--transition);
  background: var(--color-surface-secondary);
}
.sidebar figure {
  display: flex;
}
.sidebar li {
  display: inline-block;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .cards ul {
    grid-template-columns: repeat(4, 1fr);
  }
  .cards a {
    font-size: var(--font-size);
  }
  .cards svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

@media screen and (max-width: 576px) {
  .cards ul {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
  .cards a {
    font-size: var(--font-size-small);
  }
  .cards svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}
